{{ define "main" }}

<div class="section agent-lists">
    <div class="container">
        <div class="columns">
            <div class="column">
              {{ partial "breadcrumbs.html" . }}
            </div>
          </div>
        <div class="columns">
          {{ partial "search.html" . }}
            <div class="column is-8 ascend">
              <div class="tabs is-centered">
                <ul>
                    <li><a href="/featured">Featured</a></li>
                  <li><a href="/listings">All Listings({{ len ( where $.Site.RegularPages "Type" "listings") }})</a></li>
                    {{ range $name, $taxonomy := .Site.Taxonomies.status }}
                  <li>
                    <a href="/status/{{ $name | urlize }}">{{ $name | humanize }} ({{ $taxonomy.Count }})</a>
                  </li>
                  {{end}}
            
                  <li>
                </ul>
              </div>

                <div class="columns is-multiline">
                {{ $paginator := .Paginate (where .Pages "Type" "listings") 6 }}
                {{ range $paginator.Pages.ByWeight }}
                    <div class="column is-6">
                        {{ partial "featured-listings.html" . }}         
                    </div>   
                {{ end }}
                </div>
                {{ partial "pagination" . }}
            </div>
        </div>
    </div>
</div>

{{ end }}